{% from "bootstrap5/form.html" import render_form %}
{% block content %}
{% include "header.html" %}

<div class="product-container">
    <div class="product-image">
        <img src="{{ url_for('static', filename=product.image_url) }}" alt="{{ product.name }}" style="max-width: 700px;">
    </div>

    <div>

    <div class="product-details">
        <h1>{{ product.name }}</h1>
        <p class="product-price">₹{{ product.price }}</p>

        <div class="button-container">
            {{render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>


    </div>
        </div>
</div>

{% include "footer.html" %} {% endblock %}
